<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net46" />
  <package id="BLToolkit" version="4.3.4" targetFramework="net46" />
  <package id="BLToolkit.PostgreSql" version="4.3.4" targetFramework="net46" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net46" />
  <package id="Npgsql" version="2.0.12.1" targetFramework="net46" />
  <package id="NpgsqlBulkCopy" version="1.2.0" targetFramework="net46" />
</packages>